.DS_Store

/*
!.gitignore
!/config/
!/ldlib/
!/defaultconfigs/
!/kubejs/
!/icon.png
!/modpack.toml
!/LICENSE
!/README.md
!/AGENTS.md
!/docs/

/config/*

!/config/ae2/
!/config/drippyloadingscreen/
!/config/fancymenu/
!/config/fancytoasts/
!/config/ftbquests/
!/config/functionalstorage/
!/config/jade/

!/config/jei/
/config/jei/*
!/config/jei/blacklist.cfg.bak
!/config/jei/ingredient-list-mod-sort-order.ini
!/config/jei/ingredient-list-type-sort-order.ini
!/config/jei/recipe-category-sort-order.ini

!/config/ad_astra-client.jsonc
!/config/ad_astra.jsonc
!/config/createjustenoughtime-common.toml
!/config/createentitycontrol-common.toml
!/config/create-stuff-additions.toml
!/config/create-client.toml
!/config/clanginghowl.toml
!/config/darkerdepths-common.toml
!/config/naturescompass-client.toml
!/config/naturescompass-common.toml
!/config/resourcepackoverrides.json
!/config/tfmg-common.toml
!/config/vintageimprovements-client.toml
!/config/vintageimprovements-common.toml
!/hotai
